In [1]:
import pandas as pd

from merge_by_lev import *

In [2]:
# Create two DataFrames with the same name in their columns
df1 = pd.DataFrame({"Name": ["John", "Alice", "Bob"], "Age": [25, 30, 35]})
df2 = pd.DataFrame({"Name": ["Sara", "Lyna", "Melissa"], "Age": [23, 19, 20]})

# Create the list of DataFrames
df_list = [df1, df2]
name_list = ["df1", "df2"]

# Apply the function
print("lev_dist : ", lev_dist(name_list[0], name_list[1]))
dfs, names, mtx = merge_by_similarity(df_list=df_list, col_list=name_list)

lev_dist :  1
Computing: [########################################] 2/2

In [3]:
print(len(dfs))

1

In [4]:
dfs[0].head(10)

      Name  Age
0     John   25
1    Alice   30
2      Bob   35
3     Sara   23
4     Lyna   19
5  Melissa   20